<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/da027d4d-9486-4357-b5f4-2d67b98be0d9/resourceGroups/DemoResourceGrp/providers/Microsoft.Web/sites/DemoAppTest007</ResourceId>
    <ResourceGroup>DemoResourceGrp</ResourceGroup>
    <ApiResourceId>/subscriptions/da027d4d-9486-4357-b5f4-2d67b98be0d9/resourceGroups/DemoResourceGrp/providers/Microsoft.ApiManagement/service/DemoMiroservicesAzureOrderapi/apis/DemoAppTest007</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demoapptest007-ebe5dtcwbsh2bgfj.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d3fa7304-dd70-4692-bb43-961b1f3e0fd6</ProjectGuid>
    <MSDeployServiceURL>demoapptest007-ebe5dtcwbsh2bgfj.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DemoAppTest007</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>